body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#buttonDiv{
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #00B7FF;
}

.top-buffer {
    margin-top: 1%;
}

#picture {
    position: relative;
}

#MALElements {
    position: relative;
}

#troposElements {
    position: relative;
}
#bpmnElements{
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;

}

#dropdownActor {
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 20px;*/
    /*background-color: red;*/
    /*border: 2px solid #ccc;*/
    top: 220px;
    left: 50px;
}

#dropdownMisuser {
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 20px;*/
    /*background-color: red;*/
    /*border: 2px solid #ccc;*/
    top: 220px;
    left: 100px;
}

#dropdownSecurityCriterion {
    top: 400px;
    left: 100px;
}
#dropdownExtendUC {
    top: 45px;
    left: 550px;
}
#dropdownIncludeUC {
    top: 45px;
    left: 350px;
}
#dropdownConstraint_OfUC {
    top: 290px;
    left: 150px;
}
#dropdownCommunicationUC {
    top: 140px;
    left: 250px;
}
#dropdownExploitUC {
    top: 240px;
    left: 600px;
}
#dropdownThreatenUC {
    top: 340px;
    left: 430px;
}
#dropdownLead_ToUC {
    top: 490px;
    left: 700px;
}
#dropdownNegateUC{
     top: 490px;
     left: 150px;
 }
#dropdownHarmUC {
    top: 440px;
    left: 320px;
}
#dropdownMitigateUC {
    top: 390px;
    left: 500px;
}

#dropdownUseCase {
    top: 250px;
    left: 300px;
}

#dropdownVulnerability {
    top: 250px;
    left: 450px;
}

#dropdownMisUseCase {
    top: 350px;
    left: 650px;
}

#dropdownImpact {
    top: 500px;
    left: 500px;
}

#dropdownSecurityUseCase {
    top: 400px;
    left: 300px;
}

#dropdownActivity-MAL1 {
    top: 520px;
    left: 10px;
}

#dropdownActivity-MAL2 {
    top: 930px;
    left: 200px;
}

#dropdownDecision-MAL {
    top: 520px;
    left: 300px;
}
#dropdownVulnerability-MAL {
    top: 880px;
    left: 400px;
}

#dropdownControlFlow-MAL {
    top: 750px;
    left: 200px;
}
#dropdownMitigationLink-MAL {
    top: 740px;
    left: 20px;
}

#dropdownSwimLane-MAL {
    top: 220px;
    left: 200px
}

#dropdownMalActivity-MAL1 {
    top: 530px;
    left: 160px;
}

#dropdownMalActivity-MAL2 {
    top: 920px;
    left: 160px;
}

#dropdownSecurityCriterion-MAL {
    top: 930px;
    left: 360px;
}

#dropdownMalSwimLane-MAL {
    top: 220px;
    left: 500px;

}

#dropdownMalDecision-MAL {
    top: 520px;
    left: 500px;
}

#dropdownMitigationActivity-MAL1 {
    top: 530px;
    left: 260px;

}

#dropdownMitigationActivity-MAL2 {
    top: 940px;
    left: 20px;
}

#dropdownActorTROPOS1 {
    top: 240px;
    left: 300px;
}

#dropdownActorTROPOS2 {
    top: 800px;
    left: 200px;
}

#dropdownHardGoal1 {
    top: 340px;
    left: 100px;
}

#dropdownHardGoal2 {
    top: 640px;
    left: 320px;
}

#dropdownHardGoal3 {
    top: 1000px;
    left: 300px;
}
#dropdownHardGoal4 {
    top: 1540px;
    left: 20px;
}

#dropdownResourceTROPOS4 {
    top: 1540px;
    left: 420px;
}
#dropdownPlanTROPOS1 {
    top: 240px;
    left: 100px;
}

#dropdownPlanTROPOS2 {
    top: 640px;
    left: 100px;
}

#dropdownPlanTROPOS3 {
    top: 1000px;
    left: 100px;
}

#dropdownResourceTROPOS1 {
    top: 240px;
    left: 200px;
}

#dropdownResourceTROPOS2 {
    top: 640px;
    left: 200px;
}

#dropdownResourceTROPOS3 {
    top: 1000px;
    left: 200px;
}

#dropdownSecureGoal1 {
    top: 640px;
    left: 400px;
}

#dropdownSecureGoal2 {
    top: 1000px;
    left: 500px;
}

#dropdownSoftGoal1 {
    top: 340px;
    left: 20px;
}

#dropdownSoftGoal2 {
    top: 640px;
    left: 500px;
}

#dropdownSoftGoal3 {
    top: 1000px;
    left: 400px;
}

#dropdownSecurityConstraintTROPOS1 {
    top: 330px;
    left: 290px;
}
#dropdownSecurityConstraintTROPOS2 {
    top: 640px;
    left: 20px;
}

#dropdownSecurityConstraintTROPOS3 {
    top: 1190px;
    left: 200px;
}
#dropdownSecure_DependencyTROPOS {
    top: 140px;
    left: 500px;
}
#dropdownDepender_SCTROPOS {
    top: 240px;
    left: 460px;
}
#dropdownDependee_SCTROPOS {
    top: 240px;
    left: 560px;
}
#dropdownAttacksTROPOS4 {
    top: 1440px;
    left: 320px;
}
#dropdownThreatTROPOS3 {
    top: 990px;
    left: 20px;
}

#dropdownRestrictsTROPOS {
    top: 1090px;
    left: 220px;
}
#dropdownContributionTROPOS {
    top: 440px;
    left: 500px;
}
#dropdownSC_DecompositionTROPOS{
    top: 740px;
    left: 20px;
}

#dropdownDependencyTROPOS{
    top: 140px;
    left: 300px;
}
#dropdownMeansEndTROPOS{
    top: 540px;
    left: 350px;
}

#dropdownDecompositionTROPOS{
    top: 540px;
    left: 70px;
}
#dropdownPlanTROPOS4{
    top: 1540px;
    left: 200px;
}
#dropdownActorTROPOS4{
    top: 1640px;
    left: 200px;
}
#dropdownExploitsTROPOS4 {
    top: 1440px;
    left: 120px;
}
#dropdownMitigatesTROPOS3{
    top: 1090px;
    left: 20px;
}
#dropdownSatisfiesTROPOS3{
    top: 1090px;
    left: 520px;
}
#dropdownStartEventBPMN1 {
    top: 480px;
    left: 20px;
}

#dropdownIntermediateEventBPMN1 {
    top: 480px;
    left: 120px;
}

#dropdownEndEventBPMN1{
    top: 540px;
    left: 80px;
}

#dropdownEventBPMN2 {
    top: 890px;
    left: 320px;
}

#dropdownGatewayBPMN1 {
    top: 380px;
    left: 120px;
}

#dropdownGatewayBPMN2 {
    top: 890px;
    left: 420px;
}

#dropdownTaskBPMN1{
    top: 380px;
    left: 220px;
}

#dropdownTaskBPMN2{
    top: 890px;
    left: 220px;
}

#dropdownTaskBPMN3{
    top: 1090px;
    left: 450px;
}
#dropdownSequenceFlowBPMN1{
    top: 260px;
    left: 600px;
}
#dropdownSequenceFlowBPMN2{
    top: 990px;
    left: 520px;
}
#dropdownDataObjectBPMN1{
    top: 390px;
    left: 500px;
}
#dropdownDataObjectBPMN3{
    top: 1190px;
    left: 20px;
}
#dropdownDataStoreBPMN1{
    top: 390px;
    left: 400px;
}
#dropdownDataStoreBPMN3{
    top: 1190px;
    left: 220px;
}
#dropdownPoolBPMN1{
    top: 290px;
    left:240px;
}
#dropdownLaneBPMN1{
    top: 290px;
    left:340px;
}
#dropdownPoolBPMN2{
    top: 790px;
    left:450px;
}
#dropdownAnnotationBPMN1{
    top: 390px;
    left:600px;
}
#dropdownAnnotationBPMN3{
    top: 1190px;
    left:120px;
}
#dropdownVulnerabilityPointBPMN1{
    top: 590px;
    left:300px;
}
#dropdownVulnerabilityPointBPMN3{
    top: 1190px;
    left:420px;
}
#dropdownDataFlowBPMN1{
    top: 310px;
    left:600px;
}
#dropdownDataFlowBPMN2{
    top: 790px;
    left:350px;
}
#dropdownLockBPMN1{
    top: 680px;
    left:300px;
}
#dropdownLockBPMN3{
    top: 1390px;
    left:320px;
}
#tableDiv{
    bottom: 0px;
}
th, tr{
    text-align: center;
}



/*#dropdownActor, #dropdownMisuser, #dropdownSecurityCriterion, #dropdownUseCase, #dropdownVulnerability, #dropdownMisUseCase, #dropdownImpact, #dropdownSecurityUseCase, #dropdownActivity-MAL1, #dropdownActivity-MAL2, #dropdownDecision-MAL, #dropdownControlFlow-MAL, #dropdownSwimLane-MAL, #dropdownMalActivity-MAL1, #dropdownMalActivity-MAL2 {*/
/*display: none;*/
/*}*/

.information {
    display: none;
}

.container {
    width: 95%;
}
canvas{
    z-index: 2;
    margin-left: 15px;
    margin-right: 15px;
}
.up {
    height: 50%;
    width: 78%;
    position: fixed;
    z-index: 2;
    left: 22%;
    overflow-x: auto;
    padding-top: 20px;
}
.down {
    border-top: 3px solid black;
    height: 40%;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 22%;
    margin-bottom: 5%;
    overflow-x: hidden;
    margin-top:5%;
}
.left {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left:10px;

    overflow-x: hidden;
}
table {
    width: 100%;
    table-layout: fixed;
}
.custom-row{
    margin-left: 0px;
    margin-right: 20px;
}
.no-margin-row{
    margin-left: 0px;
    margin-right: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}